.wrapper {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.68);
}

.container {
    padding: 10px;
}

.top {
    display: flex;
    align-items: center;
}

.img-profile {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.input {
    width: 80%;
    font-size: 1.6rem;
}

.hr {
    margin: 20px;
}

.img-container {
    padding: 0 20px 10px 20px;
    position: relative;
}

.img-share {
    width: 100%;
    object-fit: cover;
}

.icon-cancel {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 2rem !important;
    color: var(--white);

    &:hover {
        cursor: pointer;
    }
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    display: flex;
    margin-left: 20px;
}

.option {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.icon {
    font-size: 2.4rem !important;
    margin-right: 3px;
}

.option-text {
    font-size: 1.4rem;
    font-weight: 500;
}

.btn {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2ecc71;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-right: 20px;
    color: var(--white);
}
