@import 'normalize.css';

:root {
    --white: #fff;
    --red: #f00;
    --primary: #1877f2;

    // Default layout
    --default-layout-header-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Anton', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 1.2rem;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(176, 176, 182, 0.8);
    border-radius: 9999px;
}
