.wrapper {
    position: sticky;
    top: 60px;
    flex: 3;
    height: calc(100vh - var(--default-layout-header-height));
    overflow-y: hidden;

    &:hover {
        overflow-y: scroll;
    }
}

.wrapper::-webkit-scrollbar {
    width: 0.7rem;
}

.wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 9999px;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(217, 217, 227, 0.8);
    border-radius: 9999px;
}

.container {
    width: 299px;
    padding: 20px;
}

.list {
    list-style: none;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.icon {
    font-size: 2.4rem !important;
    margin-right: 15px;
}

.list-item-text {
    font-size: 1.4rem;
}

.btn {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.hr {
    margin: 20px 0;
}

.friend-list {
    list-style: none;
}
