.friend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.img {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-name {
    font-size: 1.4rem;
}
