.wrapper {
    position: sticky;
    top: 60px;
    flex: 3.5;
    height: calc(100vh - var(--default-layout-header-height));
    overflow-y: hidden;

    &:hover {
        overflow-y: scroll;
    }
}

.wrapper::-webkit-scrollbar {
    width: 0.8rem;
}

.wrapper::-webkit-scrollbar-track {
    // background-color: #f1f1f1;
    background-color: #fff;
    border-radius: 9999px;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(217, 217, 227, 0.8);
    border-radius: 9999px;
}

.container {
    width: 349px;
    padding: 20px 20px 0 0;
}

.birthday-container {
    display: flex;
    align-items: center;
}

.birthday-img {
    width: 4rem;
    height: 4rem;
    margin-right: 10px;
}

.birthday-text {
    font-weight: 350;
    font-size: 1.4rem;
    // margin-bottom: -4px;
}

.ad {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.title {
    margin-bottom: 20px;
}

.friend-list {
    list-style: none;
}
